// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/timer/timer";

@import "../pages/statistics/statistics";

@import "../pages/setting/setting";

@import "../pages/baseUI/baseUI";

.root-card {
	width: 100%;
	overflow: hidden;

	position: fixed;
	top: 0;
	bottom: 40px;
	margin: 0;

	border-radius: 10px;

	ion-tabs {
		// border-radius: 25px;
		overflow: hidden;
	}
}

.root-playbar {
	position: fixed;
	bottom: 0;

	height: 40px;
}

.add-timer-card {
	@extend .timer-detail-card;
}

ion-tabbar {
	height: 40px;

	.tab-button {
		min-height: 0;
	}
}

.ion-navbar {
	height: 40px;
}
.toolbar {
	min-height: 40px;
	padding: 0;
}
ion-title {
	height: 40px;
}
.toolbar-background {
	height: 40px;
}
