<ion-card class="root-card">
	<ion-tabs #mytab>
		<ion-tab #timerPage [root]="tab1Root" tabIcon="timer" (onPlay)="play($event)"></ion-tab>
		<ion-tab [root]="tab2Root" tabIcon="pulse"></ion-tab>
		<ion-tab [root]="tab3Root" tabIcon="settings"></ion-tab>
	</ion-tabs>
</ion-card>
<ctrl-center #ctrl (showDetail)="isShowDetailCard($event)" (showAdder)="isShowAddTimerCard($event)" [detailCardIcon]="detailCardIcon" [addCardIcon]="addCardIcon"></ctrl-center>
<detail-card *ngIf="showDetailCard" #detailCard (onDetailCardChanging)="isDetailCardChanging()"></detail-card>
<add-timer-card *ngIf="showAddTimerCard" #addCard (onAddCardChanging)="isAddCardChanging()"></add-timer-card>