<ion-row text-center class="root-playbar">
	<ion-col *ngIf="isDetailCardChanging">
		<button light clear small (click)="showCard('detailclose')">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-col>
	<ion-col>
		<button light clear small (click)="showCard('detail')">
			<ion-icon [name]="detailCardIcon"></ion-icon>
		</button>
	</ion-col>
	<ion-col>
		<button light clear small (click)="buttonStateSwitcher()">
			<ion-icon name="{{buttonIcon}}"></ion-icon>
		</button>
	</ion-col>
	<ion-col>
		<button light clear small (click)="stop()">
			<ion-icon name="square"></ion-icon>
		</button>
	</ion-col>
	<ion-col>
		<button light clear small (click)="showCard('adder')">
			<ion-icon [name]="addCardIcon"></ion-icon>
		</button>
	</ion-col>
	<ion-col *ngIf="isAddCardChanging">
		<button light clear small (click)="showCard('addclose')">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-col>

</ion-row>