<ion-header>
  <ion-navbar>
    <ion-title>
     Timer
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="timer">
	<timer-component (onPlay)="play($event)"></timer-component>
	<info-card></info-card>
	<button clear dark class="switch-button switch-button-back" (click)="switchTimer(-1)"><ion-icon name="arrow-back"></ion-icon></button>
	<button clear dark class="switch-button switch-button-forward" (click)="switchTimer(1)"><ion-icon name="arrow-forward"></ion-icon></button>
</ion-content>
