<div class="timer-component">
	<canvas #canvas></canvas>
	<div #text class="timer-text">
		<div class="timer-text-left">
			<div class="time">{{timerArg.break}}</div>
			<div class="minutes">{{timerArg.breakUnit}}</div>
			<div class="type">Break</div>
		</div>
		<div class="timer-text-right">
			<div class="time">{{timerArg.work}}</div>
			<div class="minutes">{{timerArg.workUnit}}</div>
			<div class="type">Work</div>
		</div>
	</div>
	<button #playbutton clear class="play-button" (click)="stateSwitch()">
		<ion-icon name="{{playButtonIcon}}"></ion-icon>
	</button>
</div>