.timer {
	@at-root .timer-component {
		text-align: center;
		
		// 处理 timer 中文字样式和位置
		@at-root .timer-text {
			position: absolute;
	
			border: 1px solid #f00;
	
			color: #fff;
	
			.timer-text-left {
				border: 1px solid #f00;
				// width: 50%;
				height: 100%;
				float: left;
			}
			.timer-text-right {
				overflow: hidden;
				border: 1px solid #f00;
				// width: 50%;
				height: 100%;
				float: right;
			}
			.time {
				vertical-align: middle;
				height: 50%;
				// font-size: 56px;
			}
			.minutes {
				height: 25%;
				// font-size: 20px;
			}
			.type {
				height: 25%;
				color: #000;
				// font-size: 20px;
			}
		}
	
		canvas {
			width: 100%;
		}
		
		// 设置 timer 中心播放按钮样式
		.play-button {
			// font-size: 50px;
			height: 1.2em;
			margin: 0;
	
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
	
			color: #000;
			
			ion-icon {
				padding: 0;
			}
		}
	}

	// 设置 timer 页底部的信息卡片样式
	@at-root .info-card {
		background-color: #000;
		width: 45%;

		margin: 25px auto;

		overflow: hidden;

		font-weight: bold;
		font-size: 30px;
		color: #fff;
		text-align: center;
	}

	@at-root .switch-button {
		position: absolute;
		top: 515px;

		&.switch-button-back {
			left: 0;
		}

		&.switch-button-forward {
			right: 0;
		}
	}
}



